/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&family=Roboto:ital,wght@0,500;0,900;1,400&display=swap');
font-family: 'Poppins',
sans-serif;

main {}

h1,
.top-p {
    color: whitesmoke;
}

body {
    background-color: rgb(229, 220, 241);


}

.full-part {
    padding: 40px;
    align-items: center;
    justify-content: center;
    display: grid;
}

/* top section  */
.top-section {
    display: flex;
    width: 70vw;

    align-items: center;
    justify-content: center;


}

.container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: black;
}

.top-1 {
    display: flex;


}


/* top left edit */
h1 {
    font-weight: 700px;
}


.top-left {
    width: 50%;
    display: inline-block;
    padding: 20px;

}

.watch-live {
    text-decoration: none;
    background-color: maroon;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-size: 15px;

}

.top-right img {
    width: 400px;
    height: 400px;
    background-color: black;
}

/* Middle section edit  */
.middle-sec {
    display: flex;
}

.middle-sec-parent {
    margin-bottom: 80px;
    padding-left: 20px;


}

.middle-section {
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid;
    background-color: black;
    border-radius: 10px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin-top: 20px;
    padding: 20px;

}

.button {

    text-decoration: none;
    padding-top: 30px;
    margin-top: 10px;
    display: block;
    justify-content: center;
    text-align: center;


}

br {
    padding-top: 20px;
}

.u-m {
    text-decoration: none;
    background-color: white;
    padding: 10px 40px;
    color: black;
    border-radius: 50px;
    font-size: 15px;



}

.a-g {
    text-decoration: none;
    background-color: white;
    padding: 10px 40px;
    color: black;
    border-radius: 50px;
    font-size: 15px;

}

.b-l {
    text-decoration: none;
    background-color: maroon;
    padding: 10px 40px;
    color: white;
    border-radius: 50px;
    font-size: 15px;

}

/* middle-sec-2 styles */

.middle-sec-2 .news-banner img {
    width: 224px;
    height: 104px;
}

.box-p {
    color: black;
}

.icon {
    align-items: baseline;
}

.box-sizing {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.box-btn {
    padding: 5px;
    border-radius: 5px;
}

.icon {
    display: flex;
}

.icon-p {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.box-father {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.bottom-part {
    height: 400px;
    background-color: black;
    margin-top: 20px;
}

.bottom-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.line {
    padding: 0 20px;
}

.last-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.last-p {
    color: white;
    margin-right: 20px;
}

.last-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.last-i {
    margin-right: 20px;

}