/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&family=Roboto:ital,wght@0,500;0,900;1,400&display=swap');
font-family: 'Poppins',
sans-serif;

main {
    align-items: center;
    justify-content: center;
}

h1,
p {
    color: whitesmoke;
}

body {
    background-color: rgb(193, 181, 204);
    padding: 40px;
    align-items: center;

}

/* top section  */
.top-section {
    display: flex;
    width: 70vw;
    height: ;
    align-items: center;
    justify-content: center;


}

.container {
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: black;
}

div {
    display: flex;

}


/* top left edit */
h1 {
    font-weight: 700px;
}


.top-left {
    width: 50%;
    display: inline-block;

}

.watch-live {
    text-decoration: none;
    background-color: maroon;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-size: 15px;

}

.top-right img {
    width: 400px;
    height: 400px;
    background-color: black;
}